/* BAGIAN AWAL AWAL */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 20px;
} 

h1 {
    text-align: center;
    color: #333;
}
/* ALERT CONTOH 1*/
#alert-container {
    position: relative;
    margin-bottom: 20px;
}

.custom-alert {
    position: relative;
    padding: 15px 20px;
    margin-bottom: 10px;
    background-color: red;
    opacity: 60%;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.close-btn {
    position: absolute;
    display: flex;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-align: left;
} 

.close-btn:hover {
    color: #ccc;
}



/* BAGIAN FORM UNTUK KONTAINER DAN SUBMIT */
form {
    background: white;
    border-radius: 8px;
    padding: 10px;
}

div {
    margin-bottom: 15px;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
.tombol:hover {
    background-color: #0056b3;
}

.container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.container div {
    flex: 1;
    min-width: 200px;
}

label {
    display: block;
    margin-bottom: 5px;
}


